---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}

            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a href="#" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()" title="RSS Feed" style="width: 120px; line-height: 12px;">

              Follow
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>

<article class="container">
    <section>
        <h2>What is SubToMe?</h2>
        <p><a href="https://www.subtome.com/#/">SubToMe</a> is a universal follow button for the open web. It can be put on any website and can be used to follow these sites using any reader.</p>
        <h2>How can I use it?</h2>
        <p>If you own a website and publish feeds on this website, you are a <a href="publishers">publisher</a> in SubToMe's world. You should put a <em>button on your site</em> so that your readers can become followers! If you let them follow your site, they're more likely to come back to it.</p>
        <p>If you're just a just a regular web user, you'll probably stumble upon SubToMe button from time to time: make sure you use them to <em>follow the sites</em> you care about.</p>
        <p>If you are a developer and you have created an application that can be used to follow sites, you should <a href="developers">support SubToMe</a>, because it's a popular button that many sites use to be followed!</p>
    </section>
</article>
